.no-padding {
    padding: 0;
}
.padder-right {
    padding-right: 15px;
}
.bg-transparent {
    background-color: none;
}
.header-button-select {
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(93, 198, 240);
}
.header-button-select .header-dropdown-text {
    color: white;
}
.header-dropdown-container {
    margin-top: -2px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 0px;

    background-color: rgb(93, 198, 240);
}